# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.fuse_hidden*
.nfs*
.Trash-*

# macOS
._*
.DS_Store
.AppleDouble

# Visual Studio Code
.vscode/
.history/

# JetBrains IDEs
out/
.idea/
*.iws
*.iml
