.container {
    position: relative;
}

.circle {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;

    z-index: 2;

    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.direction {
    position: absolute;
    width: 0;
    height: 0;

    z-index: 1;

    border-style: solid;
    border-color: transparent;

    visibility: hidden;
}

.selected .direction,
.current.direction {
    visibility: visible;
}

.selected .direction:not(.current) {
    border-style: double !important;
}

.selected .north:not(.current) {
    border-bottom-color: #9E9E9E !important;
}

.selected .south:not(.current) {
    border-top-color: #9E9E9E !important;
}

.selected .west:not(.current) {
    border-right-color: #9E9E9E !important;
}

.selected .east:not(.current) {
    border-left-color: #9E9E9E !important;
}

.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}
