.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cell {
    border: 1px solid transparent;

    border-bottom-color: #757575;
    border-left-color: #757575;

    text-align: center;
    user-select: none;
}

.firstRow {
    border-top-color: #757575;
}

.lastColumn {
    border-right-color: #757575;
}
