.element {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
}

.input,
.select {
    border: 1px solid #ced4da;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.input:focus,
.select:focus {
    outline: none;
    border-color: #757575;
}
