.container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%;
    grid-template-areas:
        "field token-panel";

    width: 100%;
    height: 100%;
}

.field {
    grid-area: field;
}

.tokenPanel {
    grid-area: token-panel;
}
