.container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 3rem auto;
    grid-template-areas:
        "toolbar toolbar"
        "field token-panel";

    width: 100%;
    height: 100%;
}

.toolbar {
    grid-area: toolbar;
}

.field {
    grid-area: field;
}

.tokenPanel {
    grid-area: token-panel;
}
